@model MangaShop.Models.Manga

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>MangaShop - Sandru's shop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta property="og:title" content="Magazin vanzare manga online" />
    <meta name="og:description" content="Poti cumpara manga online la un pret foarte redus" />
    <meta property="og:image" content="~/Content/public/themes/images/logo.jpeg" />

    <link href="~/Content/public/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/public/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="~/Content/public/themes/css/bootstrappage.css" rel="stylesheet" />


    <link href="~/Content/public/themes/css/flexslider.css" rel="stylesheet" />
    <link href="~/Content/public/themes/css/main.css" rel="stylesheet" />


    <script src="~/Content/public/themes/js/jquery-1.7.2.min.js"></script>
    <script src="~/Content/public/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/public/themes/js/superfish.js"></script>
    <script src="~/Content/public/themes/js/jquery.scrolltotop.js"></script>
</head>

<body>
    <div id="top-bar" class="container">
        <div class="row">
            <div class="span4">
                <form method="POST" class="search_form">
                    <input type="text" class="input-block-level search-query" Placeholder="eg. Attack on titan">
                </form>
            </div>
            <div class="span8">
                <div class="account pull-right">
                    <ul class="user-menu">
                        @if (!User.IsInRole("Admin"))
                        {
                            <li><a href="@Url.Action("Index", "Users")" id="ascunde" style="display: none">Administrare</a></li>
                            <li><a href="@Url.Action("Index", "Publisher")" id="ascunde" style="display: none">Publisher</a></li>
                        }
                        else
                        {
                            <li><a href="@Url.Action("Index", "Users")" id="ascunde" style="display: block">Administrare</a></li>
                            <li><a href="@Url.Action("Index", "Publisher")" id="ascunde" style="display: block">Publisher</a></li>
                        }

                        <li>@Html.ActionLink("Acasa", "Index", "Manga")</li>
                        <li>@Html.ActionLink("Produse", "Products", "Manga")</li>
                        <li>@Html.ActionLink("Cosul meu", "Index", "Cart")</li>
                        <li>@Html.ActionLink("Logare", "Login", "Account")</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="wrapper" class="container">
        <section class="navbar main-menu">
            <div class="navbar-inner main-menu">
                <a href="index" class="logo pull-left"><img src="~/Content/public/themes/images/logo.jpeg" class="site_logo" alt=""></a>
            </div>
        </section>
        <section class="header_text sub">
            <img class="pageBanner" src="~/Content/public/themes/images/banners/banner-2.jpeg" alt="New products">
        </section>
        <section class="main-content">
            <div class="row">
                <div class="span9">                   
                    <div class="accordion" id="accordion2">
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">Editeaza un produs</a>
                            </div>
                            <div id="collapseOne" class="accordion-body in collapse">
                                <div class="accordion-inner">
                                    <div class="row-fluid">
                                        <div class="span6">

                                            <h5>Editeaza un produs</h5>
                                            @using (Html.BeginForm(actionName: "Edit", controllerName: "Manga"))
                                            {@Html.HttpMethodOverride(HttpVerbs.Put)

                                           
                                            <br />
                                            <br />

                                            @Html.Label("Title", "Title:")
                                            <br />
                                            @Html.EditorFor(b => b.Title, new { htmlAttributes = new { @class = "form-control" }})
                                            @Html.ValidationMessageFor(b => b.Title, "", new { @class = "text-danger" })
                                            <br />

                                            @Html.Label("Author", "Author:")
                                            <br />
                                            @Html.EditorFor(b => b.Author, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(b => b.Author, "", new { @class = "text-danger" })
                                            <br />

                                            @Html.Label("Price", "Price:")
                                            <br />
                                            @Html.EditorFor(b => b.Price, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(b => b.Price, "", new { @class = "text-danger" })
                                            <br />

                                            @Html.Label("VolumeNumber", "Volume number:")
                                            <br />
                                            @Html.EditorFor(b => b.VolumeNumber, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(b => b.VolumeNumber, "", new { @class = "text-danger" })
                                            <br />

                                            @Html.Label("NoOfPages", "Number of pages:")
                                            <br />
                                            @Html.EditorFor(b => b.NoOfPages, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(b => b.NoOfPages, "", new { @class = "text-danger" })
                                            <br />

                                            @Html.Label("Image", "Image:")
                                            <br />
                                            @Html.EditorFor(b => b.Image, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(b => b.Image, "", new { @class = "text-danger" })
                                            <br />

                                            @Html.Label("Summary", "Summary:")
                                            <br />
                                            @Html.TextArea("Summary", new { @class = "form-control", @rows = "10" })
                                            @Html.ValidationMessageFor(b => b.Summary, "", new { @class = "text-danger" })
                                            <br />

                                            @Html.Label("Publisher", "Publisher:")
                                            <br />
                                            @Html.DropDownListFor(b => b.PublisherId, new SelectList(Model.PublisherList, "Value", "Text"), "Choose a publisher", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(b => b.PublisherId, "", new { @class = "text-danger" })
                                            <br />

                                            @Html.LabelFor(b => b.GenresList, "Choose genres:")
                                            <br />
                                             for (int i = 0; i < Model.GenresList.Count(); i++)
                                             {
                                                @Html.HiddenFor(b => b.GenresList[i].Id)
                                                @Html.HiddenFor(b => b.GenresList[i].Name)
                                                @Html.CheckBoxFor(b => b.GenresList[i].Checked)
                                                @Html.DisplayFor(b => b.GenresList[i].Name)
                                                <br />
                                             }

                                            <br />

                                            <button class="btn btn-primary" type="submit">Update</button>
                                        }                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                                   
                    </div>
                </div>
            </div>
        </section>

        <section id="footer-bar">
            <div class="row">
                <div class="span3">
                    <h4>Navigheaza</h4>
                    <ul class="nav">
                        <li><a href="./Contact">Contacteaza-ma</a></li>
                        <li><a href="./index">Acasa</a></li>
                        <li><a href="./CosulMeu">CosulMeu</a></li>
                        <li><a href="./Plata">Plata</a></li>
                        <li><a href="./Logare">Logare</a></li>
                    </ul>
                </div>
                <div class="span4">
                    <h4>Contul meu</h4>
                    <ul class="nav">
                        <li><a href="#">Contul meu</a></li>
                        <li><a href="#">Istoricul cumparaturilor</a></li>
                        <li><a href="#">Wish List</a></li>
                        <li><a href="#">Newsletter</a></li>
                    </ul>
                </div>
                <div class="span5">
                    <br />
                    <span class="social_icons">
                        <a class="facebook" href="#">Facebook</a>
                        <a class="twitter" href="#">Twitter</a>
                        <a class="skype" href="#">Skype</a>
                        <a class="vimeo" href="#">Vimeo</a>
                    </span>
                </div>
            </div>
        </section>
        <section id="copyright">
            <span>Copyright 2020 Sandru Marius-Constantin.</span>
        </section>
    </div>
    <script src="~/Content/public/themes/js/common.js"></script>
    <script src="~/Content/public/themes/js/jquery.flexslider-min.js"></script>
</body>

</html>